# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
.env
db.sqlite3

.idea
.vscode
.vscode/settings.json

images/*
logs/*
staticfiles/

.DS_Store